:root{
    --main-font:"Poppins", sans-serif;
    --sacondary-font:"Montserrat", sans-serif;
}


body{
    font-family: var(--main-font);
}


img{
    width: 100%;
    display: block;
}

header .navbar-brand{
    font-family: var(--sacondary-font);
    font-size: 1.125rem;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}
header .navbar-brand:hover{
    color: white ;
}
header .nav-item >a{
    color: white ;
    font-size: .875rem;
    position: relative;
    font-family: var(--main-font);
    padding: 0 !important;
}
.link-scroll{
    color: black !important;
}
.sc{
    background-color: white;
    color: black;
    box-shadow:  0 1rem 3rem rgba(0, 0, 0, 0.175);
}

header  .active{
    border-bottom: 0.125rem solid rgb(0, 0, 0);
}


.hero-section{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
}

@keyframes typing {
    0% { content: "D|"; }
    3.7% { content: "De|"; }
    7.4% { content: "Dev|"; }
    11.1% { content: "Deve|"; }
    14.8% { content: "Devel|"; }
    18.5% { content: "Develp|"; }
    22.2% { content: "Develpe|"; }
    25.9% { content: "Develper|"; }
    29.6% { content: "Develpe|"; }
    33.3% { content: "Develp|"; }
    37.0% { content: "Devel|"; }
    40.7% { content: "Deve|"; }
    44.4% { content: "Dev|"; }
    48.1% { content: "De|"; }
    51.8% { content: "D|"; }
    55.5% { content: "De|"; }
    59.2% { content: "Des|"; }
    62.9% { content: "Desi|"; }
    66.6% { content: "Desig|"; }
    70.3% { content: "Desige|"; }
    74.0% { content: "Desiger|"; }
    77.7% { content: "Desige|"; }
    81.4% { content: "Desig|"; }
    85.1% { content: "Desi|"; }
    88.8% { content: "Des|"; }
    92.5% { content: "De|"; }
    96.2% { content: "D|"; }
    100% { content: "D"; }
}

.hero-section .typing span::after{
    content: "D";
    animation: typing 5s steps(27, end) infinite;
} 
.hero-section .typing,
.hero-section .typing span,
.hero-section .typing span::after {
    font-size: 2.8125rem;
    font-family: var(--sacondary-font);
}
.hero-section .typing span {
    position: relative;
    font-family: var(--main-font);
    font-size: 1.25rem;
    color: #fff;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 5s steps(27, end) infinite;
    -webkit-animation: typing 5s steps(27, end) infinite;
}



.hero-section .texet {
    width: 70%;
    text-align: center;
}
.hero-section .texet h1{
    font-size: 2.8125rem;
    font-family: var(--sacondary-font);
    color: white;
    font-weight: bolder;
}

.hero-section .icons{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row; gap: 0.625rem;
}
.hero-section .icons i{
    color: white;
    cursor: pointer;
    width: 1.875rem;
    height: 1.875rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: black;
    font-size: 0.8125rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row; 
}

.about{
    padding: 3.75rem 0;
}
.about .inner {
    background-image: url(../images/dots.png);
}
.about .progress {
    height: 1.375rem;
    box-shadow: inset -3px 2px 4px 0px #d9d4d49c;
}
.about .progress >span{
    position: absolute;
    color: white;
    font-size: 0.8125rem;
    left: 2%;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    z-index: 1;
    -o-transform: translateY(-50%);
}
.in-im{
    position: relative;
}
.in-im::before{
    content: "";
    position: absolute;
    background-image: url(../images/dots.png);
    bottom: 0;
    left: 0;
    width: 70%;
    height: 70%;
    z-index: -1;
}
.w-95{
    width: 95%;
}
.w-80{
    width: 80%;
} 
.w-90{
    width: 90%;
} 
.progress .progress-bar{
    position: relative;
}
.progress .progress-bar::after,
.progress .two::after,
.progress .there::after{
    content: "95%";
    position: absolute;
    right: 2%;
    color: white;
    font-size: 0.75rem;
}

.progress .two::after{
    content: "80%";
}

.progress .there::after{
    content: "90%";
}

.about .head-caption h2{
    font-family: var(--sacondary-font);
    font-weight: bolder;
}
.about .head-caption p{
    font-size: 0.9375rem;
    letter-spacing: 0.0625rem;
}
.about .btns .btn-one{
    background-color: black;
    font-size: .875rem;
    color: whitesmoke;
}
.about .btns .btn-one:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
}
.about .btns .btn-two{
    background-color: white;
    font-size: .875rem;
    color: black;
    border: 1px solid black;
}
.about .btns .btn-two:hover{
    background-color: black;
    color: whitesmoke;
    border: 1px solid black;
}







.services{
    background-color: #F5F5F5;
    padding: 3.75rem 0; 
}

.head-section {
    font-family: var(--sacondary-font);
    font-size: 2.5rem;
    text-transform: capitalize ;
    font-weight: 900;
    position: relative;
    width: fit-content;
    margin: auto;
    z-index: 1;
}
.head-section:before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../images/dots.png);
    background-repeat: repeat;
    z-index: -1;
}
.services .container .row .box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius:0.3125rem;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
}

.services .box:hover span i{
    color: white;
}

.services  .box:hover span {
    
    background-color: #000;
}

.services .box span {
    background-color: #eee;
    color: black;
    margin-bottom: 0.9375rem;
    transition: 0.4s all ease;
    font-size: 20px;
    width: 60px !important;
    height: 60px !important;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transition: 0.2s all ease;
    -moz-transition: 0.4s all ease;
    -ms-transition: 0.4s all ease;
    -o-transition: 0.4s all ease;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 10px;

}
.services .container .row .box span i{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s all ease;
    -webkit-transition: 0.4s all ease;
    -moz-transition: 0.4s all ease;
    -ms-transition: 0.4s all ease;
    -o-transition: 0.4s all ease;
    color: black;
    font-size: 1.1875rem;
}
.box-caption{
    color: #6b6a6a;
    padding: 00.625rem 4.75rem
}
.box h4{
    font-family: var(--sacondary-font);
    font-size: 1.125rem;
    font-weight: 700;
}


.Portfolio{
    padding: 3.75rem 0;
}

.Portfolio .inner{
    position: relative;
}



.Portfolio .inner:hover::before{
    margin-top: 0;
    opacity: 1;
}
.Portfolio .ovrlay{
    position: absolute;
    background-color: white;
    width:97% ;
    height: 97%;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    opacity: 0;
    transition: 0.4s all ease;
    -webkit-transition: 0.4s all ease;
    -moz-transition: 0.4s all ease;
    -ms-transition: 0.4s all ease;
    -o-transition: 0.4s all ease;
}
.Portfolio .inner:hover .ovrlay{
    top: 50%;
    opacity: 1;
}
.Portfolio .caption{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    opacity: 0;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
}
.Portfolio .caption span{
    font-family: var(--sacondary-font);
    font-size: 0.8125rem;
    font-weight: 700;
    margin-bottom: 7px;
    display: inline-block;
    margin-bottom: 20px;
    transition: 0.4s  all ease;
    -webkit-transition: 0.4s  all ease;
    -moz-transition: 0.4s  all ease;
    -ms-transition: 0.4s  all ease;
    -o-transition: 0.4s  all ease;
}
.Portfolio .inner:hover .caption>span{
    margin-bottom: 5px;
}
.Portfolio .caption div >i{
    background-color: black;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    font-size: 0.875rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transition: 0.4s all ease;
    -webkit-transition: 0.4s all ease;
    -moz-transition: 0.4s all ease;
    -ms-transition: 0.4s all ease;
    -o-transition: 0.4s all ease;
}


.Portfolio .inner:hover .caption{
    opacity: 1;
}




.Portfolio .caption div >i:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
}









.slider{
    background-color:#F5F5F5;
    padding: 3.125rem 0;

}
.carousel-item{
    padding-bottom: 0 !important;
}
.slider .carousel-inner .carousel-item img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    top: 0px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);

}
.carousel{
    padding: 5rem;
}
.carousel-inner > .carousel-item{
    padding: 3.125rem 0;
}
.carousel-caption{
    margin: 2.5rem auto 0 ;
    color: black;
    width:80%;

}
.btn-crcil{
    width: 12px !important;
    height: 12px !important;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: rgb(2, 2, 2) !important ;
}

.w-s{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.text-gray{
    color: #837c7c;
}


.statistics{
    padding: 3.75rem 0;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.statistics .container .box i{
    color: black;
    font-size: 1.875rem;

}
.fw-900{
    font-weight: 900;
}










.teams{
    padding: 3.75rem 0;
    background-color: #F5F5F5;
}



.teams .icon{
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)rotatey(180deg)scale(0.5,0.5);
    width: 97%;
    height: 97%;
    -webkit-transform: translate(-50%,-50%)rotatey(180deg)scale(0.5,0.5);
    -moz-transform: translate(-50%,-50%)rotatey(180deg)scale(0.5,0.5);
    -ms-transform: translate(-50%,-50%)rotatey(180deg)scale(0.5,0.5);
    -o-transform: translate(-50%,-50%)rotatey(180deg)scale(0.5,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.9375rem;
    opacity: 0;
    transition: 0.6s all ease;

}

.teams .inner img{
    transition: 0.6s;
}
.teams .inner:hover img{
    transform: scale(1.1);

}
.teams .inner:hover .icon{
    transform:translate(-50%,-50%)scale(1,1)rotatey(360deg);
    -webkit-transform:translate(-50%,-50%)scale(1,1)rotatey(360deg);
    -moz-transform:translate(-50%,-50%)scale(1,1)rotatey(360deg);
    -ms-transform:translate(-50%,-50%)scale(1,1)rotatey(360deg);
    -o-transform:translate(-50%,-50%)scale(1,1)rotatey(360deg);
    opacity: 1;
}
.teams .icon span{
    width: 40px ;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
    transition: 0.4s all ease;

    cursor: pointer;
}

.teams .icon span:hover{
    background-color: white;
    border: 1px solid black;
    
}
.teams .icon span:hover i{
    color: black;
}

.link-scroll{
    color: black !important;
}



.contact{
    padding: 3.75rem 0;
}


.contact .inner span{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #eee;
    color: black;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    margin-bottom: 0.9375rem;
    transition: 0.4s all ease;
    -webkit-transition: 0.4s all ease;
    -moz-transition: 0.4s all ease;
    -ms-transition: 0.4s all ease;
    -o-transition: 0.4s all ease;
}
.contact .inner span:hover{
    background-color: black;
    color: white;
    border: 1px solid black;
}
.contact form .inp{
    background-color: #e2e1e1 ;
    width: 100% ;
    padding-left: 10px;
    height: 40px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 15px;
    color: #6b6a6a;
    border: none;
}
.txt{
    background-color: #e2e1e1 ;
    width: 100% ;
    padding-left: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 15px;
    color: #6b6a6a;
    border: none;
}
.contact form .inp:focus,
.contact form .txt:focus{
    outline: none;
}
.contact form .btn-me{
    background-color: black;
    color: white;
    width: 120px;
    margin-left: 12px;
    transition: 0.4s all ease;
    -webkit-transition: 0.4s all ease;
    -moz-transition: 0.4s all ease;
    -ms-transition: 0.4s all ease;
    -o-transition: 0.4s all ease;
    font-size: 0.9375rem;
}
.contact form .btn-me:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
}


footer{
    background-color: #1c1c1c;
    padding: 1.25rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer p{
    color: #748182;
    font-size: 0.875rem;
}
